//
.card-goods {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0 19px 0;
  border-top: 1px solid $border-color-examples;

  &:last-of-type {
    border-bottom: 1px solid $border-color-examples;
  }

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 1fr 288px 244px;
    column-gap: 38px;
    align-items: center;
    padding: 15px 0 17px 0;
  }
}

.card-goods__name {
  flex-grow: 1;
  width: 100%;
  margin: 0 0 10px 0;

  @include font_heading($font-regular);
  @include font_size_text(16px, 16px);
  text-transform: uppercase;
  color: $font-color-goods;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;

    @include font_size_text(20px, 20px);
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    margin: 0;
  }
}

.card-goods__list {
  flex-grow: 1;
  display: flex;
  width: 100%;
  margin: 0 0 15px 0;
  justify-content: space-between;

  @media (min-width: $min-tablet) {
    grid-column: 2 / 3;
    max-width: max-content;
    justify-self: end;
  }

  @media (min-width: $min-desktop) {
    grid-column: 2 / 3;
    max-width: none;
    justify-self: unset;
    margin: 0;
  }
}

.card-goods__quantity {
  margin-left: 0;

  @include font_size_text(14px, 14px);
  color: $font-color-footer;

  @media (min-width: $min-tablet) {
    margin-right: 49px;

    @include font_size_text(16px, 20px);
  }

  @media (min-width: $min-desktop) {
    margin: 0;
  }
}

.card-goods__price {
  margin-left: 0;

  @include font_size_text(14px, 14px);
  color: $font-color-footer;
}

.card-goods__order {
  @media (min-width: $min-tablet) {
    grid-column: 1 / -1;

    @include font_size_text(16px, 20px);
  }

  @media (min-width: $min-desktop) {
    grid-column: 3 / 4;
  }
}
