//Страница заполнения формы
.catalog-page {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-primary;
}

.catalog-page__title {
  position: relative;
  margin-bottom: 41px;
  padding-top: 27px;

  &::before {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 1px;
    background-color: $bg-color-devider;
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 82px;
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 84px;
  }
}

.catalog-page__section {
  margin-bottom: 25px;

  @media (min-width: $min-tablet) {
    margin-bottom: 68px;
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 75px;
  }
}

.catalog-page__section-heading {
  position: relative;
  margin-bottom: 36px;

  @include font_heading($font-regular);
  @include font_size_text(24px, 24px);
  background-color: transparent;

  span {
    position: relative;
    display: block;
    max-width: 248px;
    padding-right: 22px;
    background-color: $bg-color-primary;
    z-index: 1;
  }

  &::before {
    position: absolute;
    width: 50%;
    height: 2px;
    top: 15px;
    right: calc(50% - 50vw);
    background-color: $bg-color-secondary;
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 80px;

    @include font_size_text(36px, 36px);
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 81px;
  }
}
