//Страница заполнения формы
.catalog-page {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background-color: $bg-color-primary;
}

.catalog-page__title {
  margin-bottom: 41px;
}

.catalog-page__section {
  margin-bottom: 25px;
}

.catalog-page__section-heading {
  margin-bottom: 36px;

  @include font_heading($font-regular);
  @include font_size_text(24px, 24px);
}
