//Секция катлога с карточками товара внутри
.catalog {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 60px;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    column-gap: 5vw;
    row-gap: 63px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.catalog__item {
  position: relative;
  margin-bottom: 11px;

  &::before {
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 0;
    left: calc(50% - 50vw);
    background-color: $bg-color-catalog;
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 0;

    &::before {
      content: none;
    }
  }
}
