//Блок отдельной категории
.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 21px 18px 19px;

  @include bg_grey;

  &::before,
  &::after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--tall::before {
    display: block;
    width: 50px;
    height: 53px;
    margin-right: 19px;
    background-image: url("../img/index/cat-tall.svg");
    content: "";
  }

  &--fat::before {
    display: block;
    width: 67px;
    height: 50px;
    margin-right: 11px;
    background-image: url("../img/index/cat-fat.svg");
    content: "";
  }

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 360px 268px;
    grid-template-rows: 60px 144px 38px;
    align-items: initial;
    row-gap: initial;
    width: auto;
    padding: 71px 62px 53px 52px;

    &::before,
    &::after {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
      margin-right: 0;
    }

    &--tall::before {
      width: 200px;
      height: 211px;
    }

    &--fat::before {
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 41px 51px 59px 52px;

    &::before,
    &::after {
      grid-column: initial;
      grid-row: initial;
      justify-self: initial;
      align-self: initial;
    }

    &--tall::before {
      width: 100px;
      height: 106px;
      margin-right: 62px;
    }

    &--fat::before {
      width: 134px;
      height: 100px;
      margin-right: 47px;
    }
  }
}

.category__title {
  @include font_heading($font-regular);
  @include font_size_text(24px, 37px);
  text-transform: uppercase;
  color: $font-color-basic;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include font_size_text(36px, 36px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
  }
}

.category__text {
  margin: 0;
  padding: 22px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0;
    margin-bottom: 52px;
    border: none;
    @include font_size_text(16px, 24px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
    padding: 39px 0 27px 0;
    margin-bottom: 0;
  }
}

.category__link {
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  gap: 17px;
  @include font_heading($font-regular);
  @include font_size_text(16px, 16px);
  text-transform: uppercase;
  color: $font-color-basic;

  &::after {
    width: 24px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url("../img/index/icon_arrow.svg");
    content: "";
  }

  &:hover,
  &:active {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include font_size_text(20px, 30px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
  }
}
