//Секция категории
.categories {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.categories__item {
  margin-top: 20px;

  @media (min-width: $min-desktop) {
    max-width: 570px;
    margin: 0;
  }
}
