//Блок отдельной категории
.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 22px;
  width: 100%;
  padding: 21px 18px 19px;

  @include bg_grey;

  &--tall::before {
    display: block;
    width: 50px;
    height: 53px;

    @include bg_green;
    content: "";
  }

  &--fat::before {
    display: block;
    width: 67px;
    height: 50px;

    @include bg_green;
    content: "";
  }

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 360px 268px;
    grid-template-rows: 60px 144px 38px;
    row-gap: initial;
    padding: 71px 62px 53px 52px;

    &--tall::before {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
      width: 200px;
      height: 211px;
    }

    &--fat::before {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 41px 52px 55px 51px;

    &--tall::before {
      grid-column: initial;
      grid-row: initial;
      justify-self: initial;
      align-self: initial;
      width: 100px;
      height: 106px;
    }

    &--fat::before {
      grid-column: initial;
      grid-row: initial;
      justify-self: initial;
      align-self: initial;
      width: 134px;
      height: 100px;
    }
  }
}

.category__title {
  @include font_heading($font-regular);
  @include font_size_text(24px, 37px);
  text-transform: uppercase;
  color: $font-color-basic;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include font_size_text(36px, 36px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
  }
}

.category__text {
  margin: 0;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include font_size_text(16px, 24px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
  }
}

.category__link {
  @include font_heading($font-regular);
  @include font_size_text(16px, 16px);
  text-transform: uppercase;
  color: $font-color-basic;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    @include font_size_text(20px, 30px);
  }

  @media (min-width: $min-desktop) {
    grid-column: initial;
    grid-row: initial;
  }
}
