//Блок с полями для форм
.control {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 16px;
  align-items: center;
}

.control__input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 30px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.control__marker {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 16px;
  align-items: center;
  cursor: pointer;

  @include font_size_text(16px, 18px);

  &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    content: "";
  }

  &::after {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 14px;
    height: 14px;
    margin: auto;
    content: "";
  }

  .control--radio &::before {
    border-radius: 50%;
  }

  .control--radio .control__input:checked + &::after {
    background-color: $bg-color-secondary;
    border-radius: 50%;
  }

  .control--checkbox .control__input:checked + &::after {
    width: 26px;
    height: 26px;
    background-image: url("../img/order/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover::before {
    border-color: $bg-color-hover;
  }

  .control__input:focus + &::before {
    outline: 2px solid $bg-color-focus;
    outline-offset: -2px;
  }

  @media (min-width: $min-tablet) {
    @include font_size_text(20px, 30px);
  }
}
