//Блок с полями для форм
.control {
  position: relative;
  padding-left: 45px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: $bg-color-secondary;
    border: 1px solid #cdcdcd;
    content: "";
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio::after {
    border-radius: 50%;
  }

  &--checkbox::after {
    width: 2px;
    height: 8px;
  }
}

.control__input {
  display: none;
}

.control__marker {
  @include font_size_text(16px, 18px);

  @media (min-width: $min-tablet) {
    @include font_size_text(20px, 30px);
  }
}
