//Ссылка на разработчиков дизайна
.designers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 281px;

  @media (min-width: $min-tablet) {
    justify-content: flex-end;
    max-width: initial;
    width: auto;
  }

  &:hover {
    .designers__image {
      color: $button-bg-color;
    }
  }

  &:active {
    opacity: 0.3;

    .designers__image {
      color: $button-bg-color;
    }
  }
}

.designers__name {
  @include font_size_text(16px, 18px);

  @media (min-width: $min-tablet) {
    margin-right: 22px;
  }
}
