//Блок формы
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--additional {
    margin-bottom: 34px;
    color: $font-color-basic;
  }

  &--contacts {
    color: $font-color-footer;
  }

  @media (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.form__subgroup {
  display: flex;
  flex-direction: column;

  &--cat {
    color: $font-color-footer;
  }

  &--purpose {
    color: $font-color-goods;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.form__input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
}

.form__group-legend {
  margin-bottom: 34px;

  @include font_form_legend;
  text-transform: none;
  color: $font-color-basic;
}

.form__textarea {
  margin-top: 4px;
  font: inherit;
  text-transform: uppercase;
  color: $font-color-footer;
}

.form__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $min-tablet) {
    width: auto;
    margin-bottom: 0;
    padding: 13px 45px;
  }

  @media (min-width: $min-desktop) {
    padding: 13px 188px;
  }
}

.form__note {
  margin: 0;

  @include font_text;
  @include font_size_text(14px, 16px);

  @media (min-width: $min-tablet) {
    padding-left: 61px;

    @include font_size_text(16px, 16px);
  }

  @media (min-width: $min-desktop) {
    padding-left: 81px;
  }
}
