//Блок формы
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;

  &:not(:first-child)::before {
    position: absolute;
    width: 60vw;
    height: 2px;
    top: -48px;
    right: calc(50% - 50vw);
    background-color: $bg-color-secondary;
    content: "";

    @media (min-width: $min-tablet) {
      width: 100vw;
      top: -90px;
    }

    @media (min-width: $min-desktop) {
      right: initial;
      left: calc(50% - 50vw);
    }
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $min-desktop) {
    flex-direction: row;
    margin-bottom: 67px;
  }

  &--additional {
    color: $font-color-basic;

    &:not(:first-child)::before {
      top: -45px;

      @media (min-width: $min-tablet) {
        top: -70px;
      }
    }

    @media (min-width: $min-tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 54px;
    }

    @media (min-width: $min-desktop) {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 61px;
      column-gap: initial;
    }
  }

  &--contacts {
    color: $font-color-footer;

    &:not(:first-child)::before {
      top: -70px;

      @media (min-width: $min-tablet) {
        top: -90px;
      }
    }

    @media (min-width: $min-desktop) {
      flex-wrap: wrap;
    }
  }

  &--comments {
    @media (min-width: $min-desktop) {
      flex-wrap: wrap;
    }
  }
}

.form__subgroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;

  &::after {
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: calc(50% - 50vw);
    background-color: $bg-color-devider;
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 72px;

    &::after {
      content: none;
    }
  }

  &--cat {
    padding-bottom: 24px;
    color: $font-color-footer;

    @media (min-width: $min-tablet) {
      width: 100%;
      padding: 0;
    }

    @media (min-width: $min-desktop) {
      width: auto;
      max-width: 570px;
      margin-bottom: 0;
      margin-right: 80px;
      min-width: 569px;
    }
  }

  &--purpose {
    padding: 22px 0 20px 0;
    color: $font-color-goods;

    @media (min-width: $min-tablet) {
      width: 100%;
      padding: 25px 28px;
      margin-bottom: 0;
      border: 1px solid $border-color-group;
    }

    @media (min-width: $min-desktop) {
      padding: 0 0 0 28px;
      justify-content: center;
    }
  }
}

.form__label {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 14px;
  text-transform: uppercase;

  span {
    margin: auto 12px auto 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 13px;

    &--icon:not(:last-child) {
      flex: 0;
      min-width: 570px;
      margin: 0;
      margin-right: 78px;
    }

    &--icon:last-child {
      width: 570px;
      min-width: min-content;
    }

    &--icon:nth-of-type(2n) {
      width: 570px;
      margin: 0;
    }
  }

}

.form__input {
  flex-grow: 1;
  padding: 13px 0 14px 16px;
  font: inherit;
  text-transform: inherit;
  color: inherit;
  border: 1px solid $border-color-group;

  &:hover {
    border-color: $bg-color-bar;
  }

  &:focus {
    outline: 2px solid $button-color-catalog;
    outline-offset: -2px;
  }

  &:not(:placeholder-shown):invalid {
    outline: 2px solid $color-error;
    outline-offset: -2px;
  }

  &::placeholder {
    opacity: 1;
  }


  .form__label--icon & {
    padding-right: 42px;
  }

  @media (min-width: $min-tablet) {
    .form__label--icon & {
      padding-right: 50px;
    }
  }
}

.form__input-icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 12px);

  .form__input:focus+& {
    color: $button-bg-color;
  }

  .form__input:not(:placeholder-shown):invalid+& {
    color: $color-error;
  }

  @media (min-width: $min-tablet) {
    right: 17px;
  }
}

.form__group-legend {
  margin-bottom: 35px;

  @include font_form_legend;
  text-transform: none;
  color: $font-color-basic;

  span {
    position: relative;
    display: block;
    max-width: 201px;
    padding-right: 22px;
    background-color: $bg-color-primary;
    z-index: 1;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 76px;

    @include font_form_legend(36px, 36px);

    &--additional {
      margin-bottom: 57px;
    }

    span {
      max-width: 600px;
      padding: 0 37px 0 36px;
    }
  }

  @media (min-width: $min-desktop) {
    span {
      left: -40px;
      padding: 0 40px 0 35px;
    }
  }
}

.form__textarea {
  margin-top: 4px;
  padding-left: 15px;
  font: inherit;
  text-transform: uppercase;
  color: $font-color-footer;
  border: 1px solid $border-color-group;

  &:hover {
    border-color: $bg-color-bar;
  }

  &:focus {
    outline: 2px solid $button-color-catalog;
    outline-offset: -2px;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::placeholder {
    opacity: 1;
  }

  @media (min-width: $min-desktop) {
    width: 100%;
    padding: 0 19px;
  }
}

.form__submit {
  width: 100%;
  margin-bottom: 21px;
  padding: 14px 0;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-tablet) {
    width: auto;
    margin-bottom: 0;
    padding: 14px 45px;

    @include font_size_text(20px, normal);
  }

  @media (min-width: $min-desktop) {
    padding: 14px 188px;
  }
}

.form__note {
  margin: 0;

  @include font_text;
  @include font_size_text(14px, 16px);

  @media (min-width: $min-tablet) {
    padding-left: 61px;

    @include font_size_text(16px, 16px);
  }

  @media (min-width: $min-desktop) {
    padding-left: 81px;
  }
}
