//Секция катлог дополнительных товаров сопутствующие основным
.goods-additional {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  @media (min-width: $min-tablet) {
    margin-bottom: 76px;
  }

  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-rows: 117px auto;
    column-gap: 79px;
    margin-bottom: 86px;
  }
}

.goods-additional__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.goods-additional__item {
  position: relative;

  @media (min-width: $min-tablet) {
    margin-top: 0;
  }
}

.goods-additional__ordering {
  width: 100%;
  padding: 10px 0;

  @include font_heading($font-regular);
  @include font_size_text(16px, 20px);
}

.goods-additional__offer {
  margin-top: 35px;

  @media (min-width: $min-desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 0;
  }
}
