//Промоблок
.hero {
  padding: 27px 0;

  @include bg_green;
  background-repeat: no-repeat;
  background-position: 60% 0;
  background-image: url("../img/backgrounds/hero-mobile.webp"),
    linear-gradient($bg-color-secondary 0, $bg-color-secondary 302px, $bg-color-primary 302px);

  @media (min-width: $min-tablet) {
    @include bg_normal;
    background-color: transparent;
    background-image: none;
  }

  @media (min-width: $min-desktop) {
    position: relative;
    padding: 0;

    &::after {
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      @include bg_green;
      background-repeat: no-repeat;
      background-position: 0 55px;
      background-image: url("../img/backgrounds/hero-descktop.webp");
      content: "";
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 110px 55px 526px;
    padding-left: 117px;
    background-color: transparent;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 82px 120px 112px 185px;
    padding-left: 80px;
  }
}

.hero__title {
  max-width: 250px;
  margin: 0 0 25px 0;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 415px;
    margin: 0;

    @include font_size_text(60px, 60px);
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;

  @include font_heading($font-regular);
  @include font_size_text(14px, 14px);
  text-transform: uppercase;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;

    @include font_size_text(20px, 20px);
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
    margin-top: 40px;
  }
}

.hero__image {
  margin: 0 0 3px 0;

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    align-self: self-start;
  }

  @media (min-width: $min-desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 1;
  }
}

.hero__action {
  width: 100%;
  padding: 10px 0;
  @include font_size_text(14px, 18px);

  @media (min-width: $min-tablet) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
    width: auto;
    padding: 10px 26px;

    @include font_size_text(20px, 20px);
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: start;
  }
}
