//Страница главная index
.main-page {
  background-color: $bg-color-primary;

  @media (min-width: $min-tablet) {
    background-color: transparent;
  }
}

.main-page__header {
  @media (min-width: $min-desktop) {
    margin-bottom: 82px;
  }
}

.main-page__section {
  margin-bottom: 20px;

  @media (min-width: $min-tablet) {
    margin-bottom: 48px;
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 26px;
  }
}
