//Блок меню
.menu {
  padding: 0;
  list-style-type: none;

  @media (min-width: $min-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    min-width: 440px;
    max-width: 550px;
  }

  @media (min-width: $min-desktop) {
    min-width: 470px;
    max-width: 600px;

    &--main {
      color: $font-color-inverted;
    }
  }
}

.menu__item {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;

  &:first-of-type {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $min-tablet) {
    width: initial;
    border: none;

    &:first-of-type {
      border: none;
    }
  }
}

.menu__link {
  display: block;
  padding: 22px 0;
  color: inherit;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $min-tablet) {
    position: relative;
    padding: 0;
    min-height: 36px;

    &--current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $bg-color-secondary;
      content: "";
    }

    &--current-main::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $bg-color-secondary;
      content: "";
    }
  }

  @media (min-width: $min-desktop) {
    &--current-main::after {
      background-color: $bg-color-primary;
    }
  }
}
