//Блок навигации по сайту
.navigation {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 174px 1fr;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 202px 1fr;
  }
}

.navigation__toggler {
  justify-self: end;
  width: 24px;
  height: 16px;

  @media (min-width: $min-tablet) {
    display: none;
  }
}

.navigation__menu {
  @media (min-width: $min-tablet) {
    justify-self: end;
  }
}
