//Блок навигации по сайту
.navigation {
  display: block;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 174px 1fr;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 202px 1fr;
  }
}

.navigation__toggler {
  justify-self: end;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  &--opened {
    background-image: url("../img/close.svg");
  }

  @media (min-width: $min-tablet) {
    display: none;
  }
}

.navigation__menu {
  display: none;

  &--nojs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--opened {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color-primary;
  }

  @media (min-width: $min-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    min-width: 440px;
  }

  @media (min-width: $min-desktop) {
    min-width: 470px;
  }
}
