//Блок страница - для корневого <html>
.page {
  &--column {
    height: 100%;
  }
}

//Элемент страницы body
.page__body {

  &--column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
