//
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 39px 0 22px 0;

  @media (min-width: $min-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 32px;

  @media (min-width: $min-tablet) {
     display: flex;
     align-items: center;
     margin: 0;
  }

}

.page-footer__menu {
  margin-bottom: 22px;
}

.page-footer__link {
  display: flex;
  text-decoration: none;
}
