//Блок страница - для корневого <html>
.page {
  &--column {
    //Модификатор для указания высоты страницы
    height: 100%;
  }
}

//Элемент страницы body
.page__body {
  margin: 0;
  min-width: 320px;

  @include font_text();
  @include bg_normal;
  @include font_size_text(14px, 18px);

  &--column {
    // Модификатор для одноколоночной страницы flex
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

//Стили позиционирования "шапки" сайта / повторяется на всех страницах
.page__header {
  padding: 10px 0 17px;
}

//Стили позиционирования для основного содержимого страницы, не повторяется на других страницах
.page__content {
  &--column {
    // Модификатор для одноколоночной страницы flex
    flex-grow: 1;
  }
}

//Заголовок страницы
.page__title {
  @include font_page_title;
}

//Стили позиционирования "подвала" сайта / повторяется на всех страницах
.page__footer {
  padding: 39px 0 22px;

  @include bg_grey;
}
