//
.process {
  color: $font-color-footer;

  @media (min-width: $min-desktop) {
    margin-bottom: 70px;
  }
}

.process__title {
  margin-bottom: 40px;
  color: $font-color-basic;

  @media (min-width: $min-tablet) {
    margin-bottom: 72px;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  counter-reset: process-item;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: initial;
    min-height: 280px;
  }
}

.process__item {
  display: flex;
  counter-increment: process-item;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    @include bg_green;
    background-repeat: no-repeat;
    background-size: 30px 32px;
    background-position: center;
    content: "";

    @media (min-width: $min-tablet) {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 31px;
    }
  }

  &--useful::before {
    background-image: url("../img/index/mobile/icon-useful.svg");
  }

  &--powder::before {
    background-image: url("../img/index/mobile/icon-powder.svg");
  }

  &--meal::before {
    background-image: url("../img/index/mobile/icon-meal.svg");
  }

  &--results::before {
    background-image: url("../img/index/mobile/icon-results.svg");
  }

  @media (min-width: $min-tablet) {
    position: relative;
    flex-direction: column;
    max-width: 280px;
    padding-top: 40px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      color: #f2f2f2;

      @include font_heading(400);
      @include font_size_text(280px, 280px);
      z-index: -1;
      content: counter(process-item);
    }
  }
}

.process__text {
  align-self: center;

  br {
    display: none;
  }

  @media (min-width: $min-tablet) {
    max-width: 245px;

    @include font_size_text(16px, 24px);

    br {
      display: initial;
    }
  }
}
