//
.process {
  color: $font-color-footer;
}

.process__title {
  margin-bottom: 40px;
  color: $font-color-basic;

  @media (min-width: $min-tablet) {
    margin-bottom: 32px;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: initial;
  }
}

.process__item {
  display: flex;


  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    @include bg_green;
    background-repeat: no-repeat;
    background-size: 30px 32px;
    background-position: center;
    content: "";
  }

  &--useful::before {
    background-image: url("../img/index/mobile/icon-useful.svg");
  }

  &--powder::before {
    background-image: url("../img/index/mobile/icon-powder.svg");
  }

  &--meal::before {
    background-image: url("../img/index/mobile/icon-meal.svg");
  }

  &--results::before {
    background-image: url("../img/index/mobile/icon-results.svg");
  }

  @media (min-width: $min-tablet) {
    flex-direction: column;
    max-width: 280px;
  }
}

.process__text {
  align-self: center;

  @media (min-width: $min-tablet) {
    @include font_size_text(16px, 24px);
  }
}
