//Краточка товара
.product {
  display: flex;
  flex-wrap: wrap;
}

.product__name {
  order: 2;
  max-width: 76px;
  @include font_heading($font-regular);
  @include font_size_text(16px, 20px);
  color: $font-color-goods;
}

.product__picture {
  order: 1;
}

.product__params {
  order: 3;
  min-width: 142px;
  @include font_size_text(12px, 16px);
  color: $font-color-footer;
}

.product__ordering {
  flex-grow: 1;
  order: 4;
}
