//
.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-secondary;
  color: $font-color-inverted;
  background-image: url("../img/backgrounds/offer-mobile.jpg");
  padding: 59px 61px 43px 58px;

  &::before {
    width: 78px;
    height: 80px;
    margin-bottom: 48px;

    background-image: url("../img/catalog/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }

  @media (min-width: $min-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 51px 124px 61px 77px;

    &::before {
      width: 80px;
      height: 83px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $min-desktop) {
    flex-direction: column;
    justify-content: center;
    padding: 56px 43px 42px 41px;

    &::before {
      margin-bottom: 48px;
    }
  }
}

.promo__text {
  max-width: 161px;

  @include font_size_text(16px, 20px);
  text-align: center;

  @media (min-width: $min-tablet) {
    text-align: initial;
  }

  @media (min-width: $min-desktop) {
    text-align: center;
  }
}
