//Ссылки на соц сети
.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 281px;
  min-height: 63px;
  margin: 0 0 22px 0;

  @media (min-width: $min-tablet) {
    min-width: 130px;
    width: auto;
    margin: 0;
  }
}

.socials__link {
  display: block;

  // &--vk {
  //   width: 23px;
  //   height: 16px;
  // }

  // &--youtube {
  //   width: 23px;
  //   height: 16px;
  // }

  // &--telegramm {
  //   width: 23px;
  //   height: 16px;
  // }

  &:hover {
    color: $button-bg-color;
  }

  &:active {
    color: rgba($button-bg-color, 0.3);
  }

  svg {
    display: block;
  }
}
