//Используемые шрифты и их насыщенность
@mixin font_text($weight) {
  font-family: $font-text;
  font-weight: $weight;
}

@mixin font_heading($weight) {
  font-family: $font-heading;
  font-weight: $weight;
}

//Конец шрифтов
//Визуализация кнопок
@mixin buttons_normal {
  color: $button-color;
  background-color: $button-bg-color;
}

//Для тестирования
@mixin out_line($test-color: #a21c32) {
  outline: 1px solid $test-color;
  outline-offset: -1px;
}

//Для тестирования
