//Используемые шрифты и их насыщенность
@mixin font_text($weight: 400) {
  font-family: $font-text;
  font-weight: $weight;
}

@mixin font_size_text($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin font_heading($weight: 500) {
  font-family: $font-heading;
  font-weight: $weight;
}

@mixin font_page_title {
  @include font_heading($font-regular);
  @include font_size_text(36px, 36px);
}

@mixin font_page_sub_title {
  @include font_heading($font-regular);
  @include font_size_text(36px, 40px);

  @media (min-width: $min-tablet) {
    @include font_size_text(60px, 60px);
  }
}

@mixin font_form_legend($size: 24px, $height: 26px) {
  @include font_heading($font-regular);
  @include font_size_text($size, $height);
}

//Конец шрифтов
//Визуализация кнопок
@mixin buttons_normal {
  @include font_heading($font-regular);
  @include font_size_text(14px, 18px);
  text-transform: uppercase;
  text-decoration: none;
  color: $button-color;
  background-color: $button-bg-color;
}

//Фоновый стиль
@mixin bg_normal {
  color: $font-color-basic;
  background-color: $bg-color-primary;
}

@mixin bg_green {
  color: $font-color-inverted;
  background-color: $bg-color-secondary;
}

@mixin bg_grey {
  color: $font-color-footer;
  background-color: $bg-color-footer;
}

//Для тестирования
@mixin out_line($test-color: #a21c32) {
  outline: 1px solid $test-color;
  outline-offset: -1px;
}

//Для тестирования
