//Параметры шрифта
$font-text: "Arial", sans-serif;
$font-heading: "Oswald", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-color-basic: #000000;
$font-color-inverted: #ffffff;
$font-color-footer: #444444;
$font-color-additional: #111111;
$font-color-goods: #222222;
//Фон
$bg-color-primary: #ffffff;
$bg-color-secondary: #68b738;
$bg-color-footer: #f2f2f2;
$bg-color-bar: #dcdcdc;
$bg-color-devider: #d9d9d9;

// Кнопки
$button-color: #ffffff;
$button-bg-color: #68b738;
$button-bg-hover: #5eaa2f;
$button-color-catalog: #444444;
$button-bg-color-catalog: #f2f2f2;

//Цвет рамки
$border-color-thumb: #ffffff;
$border-color-group: #e7e7e7;
$border-color-examples: #cdcdcd;
$border-color-hrline: #e6e6e6;

//Экраны
$min-tablet: 768px;
$min-desktop: 1220px;
